@import url("https://fonts.googleapis.com/css2?family=Mukta");
html {
  scroll-behavior: smooth;
}

#headline {
  color: cadetblue;
  font-weight: 600;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-align: center;
}

body {
  font-family: "Mukta";
}

.my-btn {
  background-color: black;
  color: white;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  text-align: center;
  transition: 1s;
}

.my-btn:hover {
  background-color: white;
  color: black;
  transition: 1s;
}

#headshot {
  border-radius: 50%;
  margin: auto;
  margin-bottom: 10px;
  width: 300px;
  height: 300px;
  display: block;
  box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.5);
  background-image: url("images/headshot.jpeg");
  background-size: cover;
  background-clip: content-box;
}

#nav-bar {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 10px;
  margin: auto;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

#home {
  padding-top: 100px;
}

#skill-container {
  grid-template-columns: auto auto auto auto;
}
#skill-container svg {
  margin: 3rem;
}

#interest-container {
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.interest-icon {
  max-width: 75%;
  text-align: center;
}
.interest-icon img {
  margin: auto;
  width: 100%;
}

.interest-text {
  font-weight: bold;
  padding: 1rem 0 1rem 0;
}

#skill-container, #interest-container {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  margin: auto;
  padding: 3rem;
}

#social-buttons {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
#social-buttons div {
  display: inline-block;
}
#social-buttons i {
  color: black;
  cursor: pointer;
  font-size: 3rem;
  width: 5rem;
  transition: 1s;
}
#social-buttons i:hover {
  color: lightblue;
  transition: 1s;
}

.new-sect-1 {
  padding: 2.5rem;
  margin: 3rem;
  background-color: white;
  color: black;
}

.text-centre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-wrap: auto;
}
.text-centre p {
  color: slategray;
  text-align: center;
}
.text-centre h1 {
  padding: 50px;
}

table {
  width: 100%;
}

.row {
  margin-bottom: 20px;
}

.card {
  height: 100%;
  border-color: lightgrey;
  border-radius: 20px;
}

.project-title {
  font-weight: bold;
  color: black;
}

.project-link {
  font-style: italic;
}

.project-date {
  color: grey;
  font-style: italic;
  font-weight: normal;
}

.project-vid {
  overflow: hidden;
  padding-top: 56.25%;
  /* 16:9*/
  position: relative;
  margin-bottom: 10px;
}
.project-vid iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.project-img {
  padding: 20px;
}
.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

#footer img {
  height: 5vh;
}

hr {
  margin: 50px;
}

#my-name {
  padding: 5px;
}

.tech-tag {
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: small;
  font-weight: bold;
  display: inline-block;
  margin-top: 0.5rem;
}

.project-tech {
  position: relative;
  bottom: 0;
}

.card-deck {
  display: grid;
  grid-template-columns: auto;
  row-gap: 2rem;
}

@media screen and (min-width: 1000px) {
  .card-deck {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 1000px) {
  #skill-container {
    grid-template-columns: auto auto;
    padding: 5px;
    row-gap: 10px;
  }
  #skill-container svg {
    margin: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  #skill-container {
    grid-template-columns: auto;
  }
  #skill-container svg {
    margin: 0;
  }

  #interest-container {
    grid-template-columns: auto;
  }

  .new-sect-1 {
    margin: 0.5rem;
  }
}

/*# sourceMappingURL=personalstyle.css.map */
