@import url("https://fonts.googleapis.com/css2?family=Lato");
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#headline {
  color: cadetblue;
  font-weight: 600;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

body {
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  word-wrap: break-word;
}

.my-btn {
  background-color: black;
  color: white;
  border-style: solid;
  border-radius: 0.75rem;
  border-color: black;
  padding: 0.25rem;
  text-align: center;
  transition: 1s;
}

.my-btn:hover {
  background-color: white;
  color: black;
  transition: 1s;
}

#headshot {
  border-radius: 50%;
  margin: auto;
  width: 25vw;
  height: 25vw;
  display: block;
  box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.5);
  background-image: url("images/headshot.jpeg");
  background-size: cover;
  background-clip: content-box;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fcfcfc;
}
#nav-bar img {
  height: auto;
  width: auto;
  max-height: 25px;
}

#nav-buttons {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 0.5rem;
}
#nav-buttons a {
  padding: 0.25rem;
  text-align: center;
  font-weight: bold;
  color: black;
}

#home {
  display: grid;
  grid-template-columns: auto;
  padding-top: 7.5rem;
}

#skill-container {
  grid-template-columns: auto auto auto auto;
}
#skill-container svg {
  visibility: hidden;
}

#interest-container {
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.interest-icon {
  max-width: 60%;
  text-align: center;
}
.interest-icon img {
  margin: auto;
  width: 100%;
}

.interest-text {
  padding: 1rem 0;
}

#skill-container, #interest-container {
  display: grid;
  column-gap: 5rem;
  row-gap: 5rem;
  margin: auto;
}
#skill-container svg, #interest-container svg {
  justify-self: center;
  width: 60%;
}

.social-buttons {
  margin: 1rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.social-buttons i {
  color: black;
  cursor: pointer;
  font-size: 3rem;
  width: 5rem;
  transition: 1s;
}
.social-buttons i:hover {
  color: cadetblue;
  transition: 1s;
}

.new-sect-1 {
  padding: 5rem;
}
.new-sect-1 h1 {
  padding-bottom: 5rem;
  text-align: center;
}

hr {
  margin: 0 10rem;
}

#projects {
  padding: 5rem 0;
  text-align: center;
}

.text-centre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-wrap: auto;
}

#intro-text {
  color: slategrey;
  text-align: center;
  word-wrap: break-word;
}

.card {
  height: 100%;
  border-color: lightgrey;
  border-radius: 1rem;
}

.project-title {
  padding: 1rem;
}

.project-link {
  font-style: italic;
}

.project-links i {
  color: white;
  cursor: pointer;
  font-size: 2rem;
  padding: 0 0.25rem;
  transition: 1s;
}
.project-links i:hover {
  color: lightblue;
  transition: 1s;
}

/* not currently used
.project-vid{
    overflow: hidden;
    padding-top: 56.25%; // 16:9
    position: relative;
    margin-bottom: 10px;
    iframe{    
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    } 
}*/
.project-img {
  width: 100%;
}

#projects-btn {
  margin: 2.5rem 0;
  padding: 1rem;
}

.tech-tag {
  color: black;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: small;
  font-weight: bold;
  display: inline-block;
  margin: 0 0.1rem;
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
}

#projects-container {
  display: grid;
  grid-template-columns: auto;
}

.project {
  position: relative;
}

.project-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.project-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 2.5rem;
}

.project:hover .project-hover {
  visibility: visible;
  opacity: 1;
}

.more-img {
  padding: 0.5rem;
}
.more-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

#my-name {
  padding: 1rem;
  text-align: center;
  color: black;
  visibility: hidden;
  --animate-duration: 2s;
}

footer {
  text-align: center;
  padding: 5rem 0;
}

#credits {
  font-size: small;
}

@media screen and (min-width: 1000px) {
  #projects-container {
    grid-template-columns: auto auto;
  }

  #home {
    grid-template-columns: auto auto;
    padding: 7.5rem 2.5rem;
    column-gap: 2.5rem;
  }
  #home #intro-text {
    max-width: 40vw;
  }
}
@media screen and (max-width: 1000px) {
  #skill-container, #interest-container {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 768px) {
  #skill-container, #interest-container {
    grid-template-columns: auto;
    row-gap: 1rem;
  }

  .tech-tag {
    display: none;
  }

  .text-centre h1 {
    padding-bottom: 1.25rem;
  }

  .new-sect-1 {
    padding: 5rem 1rem;
    box-sizing: border-box;
  }

  hr {
    margin: 0 5rem;
  }

  #projects {
    padding: 5rem 0;
  }

  .project-links i {
    font-size: 1.5rem;
  }

  .project-info {
    padding: 1rem;
  }

  #headshot {
    width: 50vw;
    height: 50vw;
  }

  .social-buttons {
    justify-content: center;
    align-content: space-between;
  }
  .social-buttons i {
    width: 3.5rem;
  }
}

/*# sourceMappingURL=personalstyle.css.map */
